body {
  max-width: 50em;
}

blockquote {
  border-left: 3px solid #20AE9E;
  padding-inline-start: 20px;
  margin-inline-start: 0px;
}

img[src=""] {
  visibility: hidden;
  max-height: 0px;
}
img {
  max-width: 100%;
}
