@import url('../../asset/font/Karla.css');

body {
  height: calc(100% - 2*16px);
  margin: 16px;

  font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #D1D1D2;
    background-color: #141416;
  }
  * {
    color: #D1D1D2 !important;
    background-color: #141416 !important;
  }
}

*::selection {
  background-color: #20AE9E;
  color: white;
}

/* <copied from="app.css"> */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar:hover {
  background-color: #00000008;
}
::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar:hover {
    background-color: #FFFFFF05;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5a5959;
    border-radius: 3px;
  }
}
