@import url('./asset/font/Karla.css');

:root {
  height: 100%;

  font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
}

:root {
  --bg: white; /* #242424, rgba(255, 255, 255, 0.87) */
  --fg: #160C27; /* #142862, #213547 */
  --inverted-bg: #160C27;
  --inverted-fg: white; /* #142862, #213547 */
  --selected-bg: #20AE9E; /* or #27C1AA */
  --selected-fg: white;
  --hover-bg: #A9DAD4;
  --hover-fg: #160C27;
  --selected-hover-bg: #1C998B;
  --selected-hover-fg: white;
  --main-bg: var(--bg);
  --main-fg: var(--fg);
  --main-pattern-bg: #E6F2F1;
  --main-pattern-fg: #160C27;
  --leftbar-bg: #F9F9FD; /* #F9F9FD, #F9F9F9, #716E7D */
  --leftbar-fg: #160C27;
  --headerbar-bg: #EEEEEE;
  --headerbar-fg: #160C27;
  --windowheader-bg: #160C27;
  --windowheader-fg: white;
  /* #142862, #213547 */
  --appbar-bg: #494558;
  --appbar-fg: white;
  --border: #E1E2E5; /* #3A3A3B */
  --outstanding-bg: #888888;
  --outstanding-fg: white;
  --input-bg: field;
  --input-fg: fieldtext;
  --input-line: #DFDFDF;
  --input-placeholder: #707070;
  --input-focus: #20AE9E;
  --link-fg: #747bff;
  --link-hover-fg: #535bf2;
  --button-bg: #F9F9FD;
  --button-fg: black;
  --button-border: #B2ADB8;
  --button-secondary-line: #A1E4DA;
  --shadow-color: 22, 12, 39; /* #160C27 */
  --chat-bubble-incoming-bg: #fdfefe;
  --chat-bubble-incoming-fg: inherit;
  --chat-bubble-outgoing-bg: #CDECE1;
  --chat-bubble-outgoing-fg: inherit;

  color: var(--fg);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #141416;
    --fg: #C1C1C2;
    --inverted-bg: #C1C1C2;
    --inverted-fg: #141416;
    --selected-bg: #20AE9E;
    --selected-fg: white;
    --hover-bg: #1E6A63;
    --hover-fg: #C1C1C2;
    --selected-hover-bg: #1C998B;
    --selected-hover-fg: white;
    --main-bg: var(--bg);
    --main-fg: var(--fg);
    --main-pattern-bg: #141416;
    --main-pattern-fg: #C1C1C2;
    --leftbar-bg: #1B1A1E;
    --leftbar-fg: #C1C1C2;
    --windowheader-bg: #202022;
    --windowheader-fg: #C1C1C2;
    --headerbar-bg: #202022;
    --headerbar-fg: #C1C1C2;
    --appbar-bg: #2C2930;
    --appbar-fg: white;
    --border: #3A3A3B;
    --outstanding-bg: #666666;
    --outstanding-fg: #C1C1C2;
    --input-bg: transparent;
    --input-fg: fieldtext;
    --input-line: #3A3A3B;
    --input-placeholder: #909090; /* or #AAAAAA */
    --input-focus: #20AE9E;
    --link-fg: #646cff;
    --link-hover-fg: #535bf2;
    --button-bg: transparent;
    --button-fg: #CDCDCD;
    --button-border: #CDCDCD;
    --button-secondary-line: #a1e4da91;
    --shadow-color: 107, 107, 108; /* #6B6B6C */
    --chat-bubble-incoming-bg: #1d2628;
    --chat-bubble-incoming-fg: #CCCCCC;
    --chat-bubble-outgoing-bg: #1b5954;
    --chat-bubble-outgoing-fg: #CCCCCC;

    color: var(--fg);
    background-color: var(--bg);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
}

/* <copied from="content-body.css"> */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar:hover {
  background-color: #00000008;
}
::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 3px;
}
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar:hover {
    background-color: #FFFFFF05;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5a5959;
    border-radius: 3px;
  }
}

*::selection {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

input,
button {
  font-family: inherit;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

vbox {
  display: flex;
  flex-direction: column;
}

hbox {
  display: flex;
  flex-direction: row;
}

grid {
  display: grid;
}

hbox.flex,
vbox.flex,
grid.flex,
hbox[flex],
vbox[flex],
grid[flex] {
  flex: 1 0 0;
}

hbox.spacer,
vbox.spacer,
spacer {
  flex: 1 0 0;
}

value {
  display: flex;
  flex-direction: row;
}

* {
  user-select: none;
}

input,
textarea,
value,
.value,
.value *,
.selectable {
  user-select: text;
}

input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="search"],
input[type="text"] {
  background-color: var(--input-bg);
  color: var(--input-fg);
  border: none;
  border-bottom: 1px solid var(--input-line);
  width: 100%;
  font-size: 14px;
}
input:focus {
  outline: none;
  border-bottom: 1px solid var(--input-focus);
}
input::placeholder {
  color: var(--input-placeholder);
}

input[type="color"] {
  border: none;
  background-color: inherit;
  color: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--fg);
}
input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--fg);
}
input[type="date"],
input[type="time"] {
  background: url('/icon/chevron-down.svg') no-repeat right center;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input[type="number"]::-webkit-inner-spin-button {
  margin-left: 8px;
}
select {
  border: none;
  background-color: var(--leftbar-bg);
  color: var(--leftbar-fg);
  font-size: 14px;
  border-bottom: 1px solid var(--input-line);
}
select:focus {
  outline: none;
  border-bottom: 1px solid var(--input-focus);
}
select option {
  background-color: var(--leftbar-bg);
  color: var(--leftbar-fg);
}
select option:hover {
  /* not working, see <https://stackoverflow.com/a/15627759/7154362> */
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}
/*
select option:checked {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}
select option:checked:hover {
  background-color: var(--selected-hover-bg);
  color: var(--selected-hover-fg);
}*/
/* most of these classes are for specificity. ditto below. */
.autocomplete.select.is-fullwidth .autocomplete-list .autocomplete-list-item {
  background-color: var(--main-bg);
  color: var(--main-fg);
}
.autocomplete.select .autocomplete-list .autocomplete-list-item.selected {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}
.autocomplete.select.is-fullwidth .autocomplete-list {
  padding: 0px;
}
.svelteui-NativeSelect-root select.svelteui-Input-input {
  background-color: transparent;
  color: inherit;
  border-color: var(--border);
}

a[href] {
  text-decoration: none;
}
hbox.page-link,
a {
  font-weight: 500;
  color: var(--link-fg);
  text-decoration: inherit;
}
hbox.page-link:hover,
a:hover {
  color: var(--link-hover-fg);
  cursor: pointer;
  text-decoration: underline;
}

:focus-visible {
  outline: 2px solid var(--selected-bg);
}

/* Fastlist */

.fast-list .row.selected > * {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

.fast-list .row:not(.selected):hover > * {
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}
.fast-list .row.selected:hover > * {
  background-color: var(--selected-hover-bg);
  color: var(--selected-hover-fg);
}

/* Fix svelte-ui dropdown */

.svelteui-NativeSelect-root select option:hover {
  /* TODO not the right selector */
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}
