@import url('./asset/font/Karla.css');

:root {
  height: 100%;

  font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --bg: white; /* #242424, rgba(255, 255, 255, 0.87) */
  --fg: #160C27; /* #142862, #213547 */
  --inverted-bg: #160C27;
  --inverted-fg: white; /* #142862, #213547 */
  --selected-bg: #20AE9E; /* or #27C1AA */
  --selected-fg: white;
  --hover-bg: #A9DAD4;
  --hover-fg: #160C27;
  --selected-hover-bg: #1C998B;
  --selected-hover-fg: white;
  --main-bg: white;
  --main-fg: #160C27;
  --main-pattern-bg: #E6F2F1;
  --main-pattern-fg: #160C27;
  --leftbar-bg: #F9F9FD; /* #F9F9FD, #F9F9F9, #716E7D */
  --leftbar-fg: 160C27;
  --headerbar-bg: #EEEEEE;
  --headerbar-fg: #160C27;
  --input-line: #DFDFDF;
  --input-focus: #20AE9E;
  --appbar-bg: #494558;
  --appbar-fg: white;
  --button-secondary-line: #A1E4DA;

  color-scheme: light; /* light dark */
  color: (--fg);
  background-color: var(-bg);
}

/*
@media (prefers-color-scheme: light) {
  :root {
  }
}
*/

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
  scrollbar-color: #22222325 transparent;
}

input,
button {
  font-family: inherit;
}

#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

vbox {
  display: flex;
  flex-direction: column;
}

hbox {
  display: flex;
  flex-direction: row;
}

grid {
  display: grid;
}

hbox.flex,
vbox.flex,
grid.flex,
hbox[flex],
vbox[flex],
grid[flex] {
  flex: 1 0 0;
}

hbox.spacer,
vbox.spacer,
spacer {
  flex: 1 0 0;
}

value {
  display: flex;
  flex-direction: row;
}

* {
  user-select: none;
}

input,
textarea,
value,
.value,
.value *,
.selectable {
  user-select: text;
}

input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--input-line);
  width: 100%;
}
input:focus {
  outline: none;
  border-bottom: 1px solid var(--input-focus);
}
input::placeholder {
  color: #0C0F27BB;
}

select {
  border: none;
  background: transparent;
  font-size: 14px;
  border-bottom: 1px solid var(--input-line);
}
select:focus {
  outline: none;
  border-bottom: 1px solid var(--input-focus);
}

.autocomplete.select .autocomplete-list .autocomplete-list-item.selected {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

a[href] {
  text-decoration: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}

/* Fastlist */

.fast-list .row.selected > * {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

.fast-list .row:not(.selected):hover > * {
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}
.fast-list .row.selected:hover > * {
  background-color: var(--selected-hover-bg);
  color: var(--selected-hover-fg);
}

/* Fix svelte-ui menu */

div.svelteui-Menu-root div.svelteui-Paper-root {
  padding: 4px 0px;
}

button.svelteui-MenuItem-root {
  border-radius: 0px;
}

button.svelteui-MenuItem-root[classname="selected"] {
  background-color: var(--selected-bg);
  color: var(--selected-fg);
}

button.svelteui-MenuItem-root:hover:not([classname="selected"]) {
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}

/* Fix svelte-ui dropdown */

.svelteui-NativeSelect-root select option:hover {
  /* TODO not the right selector */
  background-color: var(--hover-bg);
  color: var(--hover-fg);
}
