# SPDX-FileCopyrightText: 2024 Mustang GmbH <contact@mustang.im>>
#
# SPDX-License-Identifier: CC0-1.0

*~
*.kate-swp
*.sh
.DS_Store
.project
.settings/
node_modules/
yarn.lock
package-lock.json
app/dist/
*.acebase/
