.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
android/app/release/
android/app/debug/
!backend/prebuild.sh
!build.sh
!parula-brand.sh
NodeMobile.xcframework
!setup.sh
!xcode-codesign.sh
!variables.sh
backend/nodejs-assets
