.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
android/app/release/
android/app/debug/
!backend/prebuild.sh
!build.sh
!parula-brand.sh
NodeMobile.xcframework
!setup.sh
!xcode-embed-node-native.sh
!variables.sh
!download-libnode.sh
libnode
backend/nodejs-assets
