hbox {
  display: flex;
  flex-direction: row;
  flex: attr(flex);
}
vbox {
  display: flex;
  flex-direction: column;
  flex: attr(flex);
}

vbox[pack=start],
hbox[pack=start] {
  justify-content: flex-start;
}
vbox[pack=end],
hbox[pack=end] {
  justify-content: flex-end;
}
vbox[pack=center],
hbox[pack=center] {
  justify-content: center;
}
/* TODO there's no align=stretch */

vbox[align=start],
hbox[align=start] {
  align-items: flex-start;
}
vbox[align=end],
hbox[align=end] {
  align-items: flex-end;
}
vbox[align=center],
hbox[align=center] {
  align-items: center;
}
