name: Installers for Mac OS X

on:
  workflow_dispatch: # manually triggered
  push:
    tags: 'v*'

jobs:
  build:
    runs-on: macos-13
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Build installers for Mac
      uses: actions/setup-node@v3
      with:
        node-version: 20.x

    - run: sudo -H pip install setuptools
    - run: cd app/build; sh mustang-brand.sh
    - run: cd app; yarn install
    - run: cd lib; yarn install
    - run: cd backend; yarn install
    - run: cd e2; yarn install
    - run: |
        mkdir -p ~/private_keys/
        echo '${{ secrets.APPLE_API_KEY }}' > ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8
    - run: cd e2; yarn run build:release:mac
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CSC_LINK: ${{ secrets.CSC_LINK }}
        CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
        APPLE_API_KEY: ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8
        APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
        APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Installers Mac
        path: |
          e2/dist/*.dmg
