name: Installers for Windows

on:
  workflow_dispatch: # manually triggered
  push:
    tags: 'v*'

jobs:
  build:
    runs-on: windows-2022
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Build installers for Windows
      uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - run: cd app/build; sh mustang-brand.sh
    - run: cd app; yarn install
    - run: cd lib; yarn install
    - run: cd desktop; yarn install
    - run: cd desktop/backend; yarn install
    - run: cd desktop; yarn run build:release:win
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CSC_LINK: ${{ secrets.CSC_LINK_WIN_MUSTANG }}
        CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD_WIN_MUSTANG }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Installers Windows
        path: |
          desktop/dist/*.exe
          desktop/dist/*.msi
