name: Installers for Windows ARM

on:
  workflow_dispatch: # manually triggered
#  push:
#    tags: 'v*'

jobs:
  build:
    runs-on: windows-11-arm
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Install Python distutils
      run: python -m pip install setuptools

    - name: Build installers for Windows ARM
      uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - name: Check for release
      shell: bash
      run: |
        cd desktop
        VERSION=$(jq -r '.version' package.json)
        if [[ "$VERSION" == *dev ]]; then
          echo "RELEASE=false" >> $GITHUB_ENV
        else
          echo "RELEASE=true" >> $GITHUB_ENV
        fi

    - run: cd app/build; sh mustang-brand.sh
    - run: cd app; yarn install
    - run: cd lib; yarn install
    - run: cd desktop; yarn install
    - run: cd desktop/backend; yarn install

    - name: Build only
      if: env.RELEASE == 'false'
      run: cd desktop; yarn run build:win:arm
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'

    - name: Build and Release
      if: env.RELEASE == 'true'
      run: cd desktop; yarn run build:release:win
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Installers Windows ARM
        path: |
          desktop/dist/*.exe
          desktop/dist/*.msi
