name: Parula Installers for Mac OS X

on:
  workflow_dispatch: # manually triggered
  push:
    tags: 'v*'

jobs:
  build:
    runs-on: macos-15
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Build installers for Mac
      uses: actions/setup-node@v3
      with:
        node-version: 24.x

    - name: Check for release
      run: |
        cd desktop
        VERSION=$(jq -r '.version' package.json)
        if [[ "$VERSION" == *dev ]]; then
          echo "RELEASE=false" >> $GITHUB_ENV
        else
          echo "RELEASE=true" >> $GITHUB_ENV
        fi

    - run: cd app/build; sh parula-brand.sh
    - run: sudo -H pip install setuptools
    - run: cd app; yarn install
    - run: cd lib; yarn install
    - run: cd desktop; yarn install
    - run: cd desktop/backend; yarn install
    - run: cd desktop; yarn install
    - run: cd desktop/backend; yarn install
    - run: |
        mkdir -p ~/private_keys/
        echo '${{ secrets.APPLE_API_KEY }}' > ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8

    - name: Build only
      if: env.RELEASE == 'false'
      run: cd desktop; yarn run build:mac
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CSC_LINK: ${{ secrets.CSC_LINK }}
        CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
        APPLE_API_KEY: ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8
        APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
        APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'

    - name: Build and Release
      if: env.RELEASE == 'true'
      run: cd desktop; yarn run build:release:mac
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CSC_LINK: ${{ secrets.CSC_LINK }}
        CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
        APPLE_API_KEY: ~/private_keys/AuthKey_${{ secrets.APPLE_API_KEY_ID }}.p8
        APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
        APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # For Sentry source maps. Otherwise, vite build is out of memory
        NODE_OPTIONS: '--max-old-space-size=32768'

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Parula Installers Mac
        path: |
          desktop/dist/*.dmg
          desktop/dist/*.yml
